<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<!--  동적 디버깅 컴파일
          compilation debug="true"를 설정하여 컴파일된 페이지에
          디버깅 기호(.pdb 정보)를 삽입합니다. 이렇게 하면 파일 크기가 커져서 실행 속도가 느려지므로
          디버깅 하는 경우에만 이 값을 true로 설정하고
          다른 모든 경우에는 false로 설정해야 합니다. 자세한 내용은
          ASP.NET 파일 디버깅에 대한 설명서를 참조하십시오.
    -->
		<compilation defaultLanguage="vb" debug="true"><assemblies></assemblies></compilation>
		<!--  사용자 지정 오류 메시지
          사용자 지정 오류 메시지를 사용하려면 customErrors mode="On" 또는 "RemoteOnly"로 설정하고 사용하지 않으려면 "Off"로 설정합니다. 
          처리할 각 오류에 대해 <error> 태그를 추가하십시오.
    -->
		<customErrors mode="Off" />
		<!--  인증 
          이 섹션에서는 응용 프로그램의 인증 정책을 설정합니다. "Windows", 
          "Forms", "Passport" 및 "None" 모드를 사용할 수 있습니다.
    -->
		<authentication mode="Windows" />
		<!--  권한 부여 
          이 섹션에서는 응용 프로그램의 권한 부여 정책을 설정합니다. 사용자 또는 역할에 따라 응용 프로그램 리소스에 대한
          액세스를 허용하거나 거부할 수 있습니다. 와일드카드 "*"는 모든 사람을 의미하고, "?"는 
          인증되지 않은 익명의 사용자를 의미합니다.
    -->
		<authorization>
			<allow users="*" />
			<!-- 모든 사용자를 허용합니다. -->
			<!--  <allow     users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
                  <deny      users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
            -->
		</authorization>
		<!--  응용 프로그램 수준 추적 로깅
          응용 프로그램 수준 추적을 사용하면 응용 프로그램 내의 모든 페이지에 대한 추적 로그 출력이 가능합니다. 
          응용 프로그램 추적 로깅을 사용하려면 trace enabled="true"로 설정합니다. pageOutput="true"이면 
          각 페이지의 아래쪽에 추적 정보가 표시됩니다. 그렇지 않으면 
          웹 응용 프로그램 루트에서 "trace.axd" 페이지를 찾아서 응용 프로그램 추적 로그를
          볼 수 있습니다. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  세션 상태 설정
          기본적으로 ASP.NET에서는 쿠키를 사용하여 특정 세션에 속한 요청을 식별합니다. 
          쿠키를 사용할 수 없는 경우 세션 식별자를 URL에 추가하여 세션을 추적할 수 있습니다. 
          쿠키를 사용하지 않으려면 sessionState cookieless="true"로 설정합니다.
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=10.110.10.86" sqlConnectionString="data source=10.110.10.86;user id=devadmin;password=password" cookieless="false" timeout="20" />
		<!--  전역화
          이 섹션에서는 응용 프로그램의 전역화 설정을 설정합니다. 
    -->
    	<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<!--<globalization requestEncoding="ks_c_5601-1987" responseEncoding="ks_c_5601-1987"/>-->
		<httpRuntime executionTimeout="90" maxRequestLength="8192" useFullyQualifiedRedirectUrl="false" />
		<!--<httpHandlers><add verb="*" path="*.ArCacheItem" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler, ActiveReports.Web, Version=3.2.0.1966, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" /><add verb="*" path="*.Rpx" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler, ActiveReports.Web, Version=3.2.0.1966, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" /><add verb="*" path="*.ActiveReport" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler, ActiveReports.Web, Version=3.2.0.1966, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" /></httpHandlers>-->
        </system.web>
	<appSettings>
		<add key="APP_ID" value="MC" />
		<add key="COMPANY" value="MC" />
		<add key="DATA_SOURCE" value="MCDEV_DEV" />
		<add key="MODE" value="Dev" />
	</appSettings>
    <system.webServer>
        <handlers>
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
